<h1><%= @friend.name.split(' ').map {|w| w.capitalize }.join(' ') %>'s Exercises</h1>

  <% @categories.each do |category| %>
  <div id="category_section">
    <h3 id='category_<%= category.id %>'><%= link_to category.name, category %></h3>
  </div>           

    <% category.exercises.each do |exercise| %>
      <div class='exercisetable' id="exercise_<%= exercise.id %>">
      <h5><%= exercise.name %></h5>
       <a href="#" id="appear" class="icon-double-angle-up"></a> 
      <div id='exercise_all'> 
        <table id="table_<%= exercise.id %>">   
           <thead>
            <tr>
             <th>Set Number</th> 
             <th>Number of Reps</th>
             <th>Weight</th>  
             <th>Date</th> 
            </tr>
          </thead>
          <tbody> 
            <% exercise.turns.each do |turn| %>

              <tr class="turn_row" id="turn_<%= turn.id %>">
              <td class='turnnum'><%= turn.turn_num %></td>
              <td class='turnreps'><%= turn.reps %></td>
              <td class='turnweight'><%= turn.weight %></td>
              <td class='turndate'><%= turn.date.strftime("%m/%d/%y") %></td>
              </tr>
  
            <% end %>
              
        </tbody>
        </table><br />  
      
    </div>
  </div>
    <% end %>
   <% end %> 
    <br />
 

  <script>
      $(document).ready(function(){
        $("#newset").live('click', function(event){
         event.preventDefault();
          $(this).toggleClass('icon-plus icon-minus')
          $(this).closest('.exercisetable').children('#exercise_all').children('#new_set').slideToggle(300);
        });
       });
    </script>
   <script>
      $(document).ready(function(){
        $("#appear").live('click', function(event){
         event.preventDefault();
          $(this).toggleClass('icon-double-angle-down icon-double-angle-up');
          $(this).closest('.exercisetable').children('#exercise_all').children('table').fadeToggle(300);
        });
       });
    </script>
    <script>
      $(document).ready(function(){
        $('#exercise_new').live('click', function(event){
          event.preventDefault();
          $(this).toggleClass('icon-plus icon-minus');
          $(this).closest('#category_section').children('#newexercise').slideToggle(300);
        });
      });
    </script>