<tr class="turn_li" id="turn_<%= turn_var.id %>">
  <td class='turnnum'><%= turn_var.turn_num %></td>
  <td class='turnreps'><%= turn_var.reps %></td>
  <td class='turnweight'><%= turn_var.weight %></td>
  <td class='turndate'><%= turn_var.date %></td>
</tr>