<tr class="turn_row" id="turn_<%= turn_var.id %>">
  <td class='turnnum'><%= turn_var.turn_num %></td>
  <td class='turnreps'><%= turn_var.reps %></td>
  <td class='turnweight'><%= turn_var.weight %></td>
  <td class='turndate'><%= turn_var.date.strftime("%m/%d/%y") %></td>
  <td class="tablecontrols"><%= link_to '', edit_turn_path(turn_var, :exercise_id => turn_var.exercise_id), class: 'icon-edit', data: { confirm: 'Are you sure?' }, :remote => true %></td>
  <td class="tablecontrols"><%= link_to '',turn_var, :exercise_id => turn_var.exercise_id, id: "dialog-confirm", class: "icon-trash", method: :delete, data: { confirm: 'Are you sure?' }, :remote => true %></td>
</tr>