<p id="notice"><%= notice %></p>

<p>
  <b>Total:</b>
  <%= @turn.total %>
</p>

<p>
  <b>Reps:</b>
  <%= @turn.reps %>
</p>

<p>
  <b>Weight:</b>
  <%= @turn.weight %>
</p>


<%= link_to 'Edit', edit_turn_path(@turn, :exercise_id => @turn.exercise_id) %> |
<%= link_to 'Back', exercises_path %>
