<script type="text/javascript">
  $(function(){
    new Highcharts.Chart({
      chart: {
        renderTo: "runs_chart"
      },
      title: {
        text: "Minutes/Mile"
      },
      xAxis: {
        title: {
          text: "Day"
        }
      },
      series: [{
            data: [<% @runs.each do |run| %>
                [(<%=run.date.year%>, <%=run.date.month%>, <%= run.date.day %>), <%= run.minutes_per_mile %>],
                <% end %>
             ]
      }],
      yAxis: {
        title: {
          text: "MPM"
        }
      },
      series: [{
      //   pointInterval: <%= 1.day * 1000 %>,
      //   pointStart: <%= @runs.first.date.to_time.to_i * 1000 %>,
        data: <%= (@runs.map { |run| run.minutes_per_mile.to_f }.inspect) %>
      }]
    });
  });
</script>
<div id='runs_chart' style="width:560px; height:300px;"></div>
<h1>Listing runs</h1>


<table>
  <tr>
 
    <th>Distance</th>
    <th>Time</th>
    <th>Minutes/Mile</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @runs.each do |run| %>
  <tr>
    <td><%= run.distance %></td>
    <td><%= run.time %></td>
    <td><%= run.minutes_per_mile %></td>
    <td><%= run.date %></td>
    <td><%= run.user_id %></td>
    <td><%= link_to 'Show', run %></td>
    <td><%= link_to 'Edit', edit_run_path(run) %></td>
    <td><%= link_to 'Destroy', run_url(run.id), :method => "delete", data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'New Run', new_run_path %>

