<script type="text/javascript">
//   $(function(){
//     new Highcharts.Chart({
//       chart: {
//         renderTo: "runs_chart"
//       },
//       title: {
//         text: "Minutes/Mile"
//       },
//       xAxis: {
//         type: 'datetime',
//         dateTimeLabelFormats: {
//                 day: '%e. %b',
//                 month: '%b \'%y' 
//             }
//         title: {
//           text: "Day"
//         }
//       },
//       yAxis: {
//         title: {
//           text: "MPM"
//         }
//       },
//         series: [{
//             data: [<% @runs.each do |run| %>
//                 [Date.UTC(<%=run.date.year%>, <%=run.date.month%>, <%= run.date.day %>), <%= run.minutes_per_mile %>],
//                 <% end %>
//              ]
//       }],
//     });
//   });
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'runs_chart',
                type: 'spline'
            },
            title: {
                text: 'RunTracker --- Minutes Per Mile'
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: { // don't display the dummy year
                    month: '%e. %b',
                    year: '%b'
                }
            },
            yAxis: {
                title: {
                    text: 'Min/Mile'
                },
                min: 0
            },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        Highcharts.dateFormat('%e. %b', this.x) +': '+ this.y +' mins/mile';
                }
            },
            
            series: [{
                name: String("<%= "#{User.find_by_id(session[:user_id]).name}" %>"  ),
                // Define the data points. All series have a dummy year
                // of 1970/71 in order to be compared on the same x axis. Note
                // that in JavaScript, months start at 0 for January, 1 for February etc.
                data: [ <% @runs.each do |run| %>
                [Date.UTC(<%=run.date.year%>, <%=run.date.month-1%>, <%= run.date.day %>), <%= run.minutes_per_mile %>],
                <% end %>   
                ]
            }, 
            ]
        });
    });
    
});
</script>
<h3>Runs</h3>
<%= link_to "", "#", :id => 'newrun', :class => 'icon-plus' %>
<div id="new_run_form" style="display:none">
    <%= render '/runs/form' %>
</div>    

<table>
  <thead>
  <tr>
   <th>Distance</th>
    <th>Time</th>
    <th>Minutes/Mile</th>
    <th>Date</th>
  </tr>
  </thead>

<% @runs.each do |run| %>
  <tr id='run_<%= run.id %>'>
    <td><%= run.distance %></td>
    <td><%= run.time %></td>
    <td><%= run.minutes_per_mile %></td>
    <td><%= run.date %></td>
    <td><%= link_to '', edit_run_path(run), :class => 'icon-edit', :remote => true %></td>
    <td><%= link_to '', run_url(run.id), :class => 'icon-trash', :remote => true, :method => "delete", data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


<div class='runs_chart' id='runs_chart' style="width:560px; height:300px;"></div>

<script>
    $(document).ready(function(){
        $('#newrun').live('click', function(event){
            event.preventDefault();
            $(this).toggleClass('icon-plus icon-minus')
            $('#new_run_form').slideToggle();
        });
    });
</script>

