<%= form_for @exercise, :remote => true do |f| %>
  <% if @exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
      <% @exercise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.hidden_field :user_id, :value => session[:user_id] %>
  </div>
  <div class="field">
    <%= f.hidden_field :category_id, :value => category_id %>
  </div>
  <div class="field">
    <%= f.text_field :name, placeholder: "Exercise Name", :cols => '5' %>
  </div>
  <div class="actions">
    <%= f.submit "Create Exercise", :class => 'smallbutton' %>
  </div>
<% end %>
