
  <h1><%= User.find_by_id(session[:user_id]).name.split(' ').map {|w| w.capitalize }.join(' ') %>'s Exercises</h1>

  <% @categories.each do |category| %>
    <h3><%= category.name %></h3>
    <%= link_to "Delete Category", category_url(category.id), :confirm => 'Are you sure?', :method => 'delete'%>

    <% category.exercises.each do |exercise| %>
     
    <div class='exercisetable'>    <h5><%= exercise.name %></h5>
        <table border='1'>
           <tr>
              <th class="label">Set Number:</th> 
              <th class="label label-info">Number of Reps:</th>
              <th class="label label-success">Weight:</th>  
              <th class="label label-default">Date:</th> 
            </tr>  
          <% exercise.turns.each do |turn| %>
            <tr>  
              <td><%= turn.turn_num %></td>
              <td><%= turn.reps %></td>
              <td><%= turn.weight %></td>
              <td><%= turn.date.strftime("%m/%d/%y") %></td>
              <td>
                <td><%= link_to 'Show', turn %></td>
                <td><%= link_to 'Edit', edit_turn_path(turn, :exercise_id => exercise.id), :confirm => 'are you sure?' %></td>
                <td><%= link_to 'Destroy', turn, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </td>
            </tr>
          <% end %>
        </table><br />
      <%= link_to "New Set", new_turn_url(:exercise_id => exercise.id), :class => 'btn btn-mini btn-danger' %>  
    </div>
    <% end %>
   <% end %> 
    <br />


  
  