
  <h1><%= User.find_by_id(session[:user_id]).name.split(' ').map {|w| w.capitalize }.join(' ') %>'s Exercises abcdefghijkl</h1>

  <% @categories.each do |category| %>
    <h3><%= link_to category.name, category %></h3>
    <%= link_to "-", category_url(category.id), :confirm => 'Are you sure?', :method => 'delete', :title => 'Remove Category', :class => 'buttonremove'%>
    <%= link_to "+", new_exercise_url(:category_id => category.id), :title => 'Add Exercise', :class => 'buttonadd' %>
    

    <% category.exercises.each do |exercise| %>
     
    <div class='exercisetable'>    <h5><%= exercise.name %></h5>
        <table>
           
           <thead>
            <tr>
             <th>Set Number</th> 
             <th>Number of Reps</th>
             <th>Weight</th>  
             <th>Date</th> 
            </tr>
          </thead>
          <tbody> 
            <% exercise.turns.each do |turn| %>
              <tr>  
                <td class="turnnum"><%= turn.turn_num %></td>
                <td class="turnreps"><%= turn.reps %></td>
                <td class="turnweight"><%= turn.weight %></td>
                <td class="turndate"><%= turn.date.strftime("%m/%d/%y") %></td>
                  <td class="tablecontrols"><%= link_to 'Show', turn %></td>
                  <td class="tablecontrols"><%= link_to 'Edit', edit_turn_path(turn, :exercise_id => exercise.id), :confirm => 'are you sure?' %></td>
                  <td class="tablecontrols"><%= link_to 'Destroy', turn, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
        </tbody>
        </table><br />
      <%= link_to "New Set", new_turn_url(:exercise_id => exercise.id), :class => 'navbutton' %>  
      <%= link_to "Delete Exercise", exercise, method: :delete, data: { confirm: 'Are you sure?'} %>
    </div>
    <% end %>
   <% end %> 
    <br />
  
  