<div class='container-fluid'>
  <h1><%= User.find_by_id(session[:user_id]).name.capitalize %>'s Exercises</h1>

<% @exercises.each do |exercise| %>
    <%= exercise.name %>
    <ul>
  <% exercise.turns.each do |turn| %>
  <li>
  <%= turn.turn_num %>
  <%= turn.reps %>
  <%= turn.weight %>
  <%= link_to 'Show', turn %>
    <%= link_to 'Edit', edit_turn_path(turn) %>
    <%= link_to 'Destroy', turn, method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>
  <% end %>
  <div class='btn btn-mini'><%= link_to 'New Turn', new_turn_url %></div>
</ul>
<% end %>

<br />

<%= link_to 'New Exercise', new_exercise_path %>
</div>