
  <h1><%= User.find_by_id(session[:user_id]).name.split(' ').map {|w| w.capitalize }.join(' ') %>'s Exercises</h1>


  <% @categories.each do |category| %>
    <h3><%= link_to category.name, category %></h3>
     <%= link_to "", new_exercise_url(:category_id => category.id), :title => 'Add Exercise', :class => 'icon-plus' %>
     

    <% category.exercises.each do |exercise| %>
      <div class='exercisetable'>
      <h5><%= exercise.name %></h5>
       <a href="#" id="appear" class="icon-double-angle-up"></a> 
       <%= link_to "", "#", :id => 'newset', :class => 'icon-plus' %>
       
       <div id='new_set' style="display:none">
          <%= render 'turns/new_turn_form', :exercise_id => exercise.id %>
      </div>
        <table>   
           <thead>
            <tr>
             <th>Set Number</th> 
             <th>Number of Reps</th>
             <th>Weight</th>  
             <th>Date</th> 
            </tr>
          </thead>
          <tbody> 
            <% exercise.turns.each do |turn| %>

            <%= render 'turns/turn', :turn_var => turn %>
            <% end %>
              
        </tbody>
        </table><br />  
      <%= link_to "Delete Exercise", exercise, method: :delete, data: { confirm: 'Are you sure?'} %>
    </div>
    <% end %>
   <% end %> 
    <br />
    
    <%= link_to "Add Muscle Group", new_category_url, :style => "display:block" %>

   <script>
      $(document).ready(function(){
        $("#appear").live('click', function(event){
         event.preventDefault();
          $(this).toggleClass('icon-double-angle-down');
          $(this).nextAll().fadeToggle();
        });
       });
    </script>
    <script>
      $(document).ready(function(){
        $("#newset").live('click', function(event){
         event.preventDefault();
          $(this).next().fadeToggle();
        });
       });
    </script>


  
  