<!DOCTYPE html>
<html>
<head>
  <title>Meathead</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "jquery-1.8.3.min", "highcharts" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
   <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Molle:400italic|Libre+Baskerville|Crimson+Text:700italic' rel='stylesheet' type='text/css'>
  <meta content='maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width">
</head>
<body>
  <nav class='navbar'>
  		<%= link_to "Lifting", exercises_url, :class => 'btn btn-primary' %>
		<%= link_to "Running", runs_url, :class => 'navbutton'  %>
		<%= link_to "Friends", friends_url, :class => 'navbutton' %>
		<div class='loginlogout'>
			<% if session[:user_id] %>
		<p>Welcome, <%= User.find_by_id(session[:user_id]).name.split(' ').map {|w| w.capitalize }.join(' ') %>.</p> 

		<%= link_to "Logout", sessions_destroy_url, :class => 'navbutton' %>
		
		 <% else %>
		<%= link_to "Login", sessions_new_url, :class => 'navbutton' %>
		
		<% end %>
		</div> 
  </nav>
<div class='container-yield'>
<%= yield %>
</div>
</body>
</html>
