<!DOCTYPE html>
<html>
<head>
  <title>Meathead</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='navbar-inverse'>
	<nav class='navbar-inner'>
		<%= link_to "New Exercise", new_exercise_url, :class => 'btn btn-warning' %>
		<%= link_to "New Set", new_turn_url, :class => 'btn btn-danger' %>
		<div class='loginlogout'>
			<% if session[:user_id] %>
		Welcome, <%= User.find_by_id(session[:user_id]).name.split(' ').map {|w| w.capitalize }.join(' ') %>. 

		<%= link_to "Logout", sessions_destroy_url, :class => 'btn btn-primary' %>
		
		 <% else %>
		<%= link_to "Login", sessions_new_url, :class => 'btn btn-primary' %>
		
		<% end %>
		</div> 
	</nav>
  </div>

<%= yield %>

</body>
</html>
