<!DOCTYPE html>
<html>
<head>
  <title>Meathead</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "jquery-1.8.3.min", "highcharts" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Molle:400italic|Libre+Baskerville|Crimson+Text:700italic' rel='stylesheet' type='text/css'>
</head>
<body>
  <nav class='navbar'>
		<%= link_to "Running", runs_url, :class => 'navbutton'  %>
		<%= link_to "Lifting", exercises_url, :class => 'navbutton' %>
		<div class='loginlogout'>
			<% if session[:user_id] %>
		Welcome, <%= User.find_by_id(session[:user_id]).name.split(' ').map {|w| w.capitalize }.join(' ') %>. 

		<%= link_to "Logout", sessions_destroy_url, :class => 'navbutton' %>
		
		 <% else %>
		<%= link_to "Login", sessions_new_url, :class => 'navbutton' %>
		
		<% end %>
		</div> 
  </nav>
<div class='container-fluid'>
<%= yield %>
</div>
</body>
</html>
